.headingBig {
    color: red;
    font-size: 25px;
}
.boxDefault {
    height:150px; 
    width:150px; 
    background-color:orange; 
    margin:25px;
    opacity: 1;
    transition: opacity 0s;
}
.boxBig {
    height: 250px;
}
.boxBlue {
    background: blue;
}
.boxFade {
    transition: opacity 2s;
    opacity: 0;
}

