
        .red {
                color: red;
        }
        .blue {
                color:blue;
        }
        .green {
                color:green;
        }
        .styledFont {
                color:green;
        }
        .big {
            font-size: 35px;
        }
        .tiny {
            font-size: 15px;
        }
        .centered {
            text-align: center;
        }
        .font-verdana {
            font-family: verdana;
        }
        .multi-attributes {
            color: orange;
            font-size: 25px;
        }
        #styledImage {
            border: solid orange;
            border-right-width: 15px;
            border-left-width: 15px;
            border-top-width: 15px;
            border-bottom-width: 15px;
        }

